.DS_Store
.idea
.vscode/*
!.vscode/tasks.json
!.vscode/settings.template.json
!.vscode/launch.template.json
!.vscode/extensions.json
node_modules
*.tgz

# Build out
dist/
build
temp
tsconfig.tsbuildinfo
tsconfig.*.tsbuildinfo

# Cache
.eslintcache

.env
.env.*
!.env.example
