.app {
  display: flex;
  font-family: sans-serif;
}

.sidebar {
  width: 250px;
}

.top-bar {
  display: flex;
  flex-direction: row-reverse;
}

.top-bar button {
  margin: auto 2px;
}

.main-content {
  flex: 1;
}
